<div class="form-field" [class.form-field--large]="isLarge">
  <div class="form-field__wrapper-for-link">
    <app-form-label
      [for]="ngrxFormControl.id"
      [isLarge]="isLarge"
      [isComplete]="isComplete"
    >
      {{ label }}
      <span
        *ngIf="
          inlineError &&
          (ngrxFormControl.errors | json) != '{}' &&
          ngrxFormControl.isSubmitted
        "
        class="form-field__error"
      >
        {{ inlineError }}</span
      >
    </app-form-label>
    <ng-content></ng-content>
  </div>
  <div [class.register-step__verified-input]="isComplete">
    <input
      [type]="type"
      autofocus
      [disabled]="isComplete"
      [ngrxFormControlState]="ngrxFormControl"
      class="form-field__input"
      [ngClass]="{
        'form-field__input--invalid': hasErrors() && isFormSubmitted
      }"
      [autocomplete]="autocomplete ? 'on' : 'off'"
      [class.verified-content]="isComplete"
      [tabindex]="tabIndex"
      (focus)="focus.emit()"
      (blur)="blur.emit()"
    />
  </div>
</div>
