@import "../../../styles/colors";
$transition-time: 0.2s;

.form-field {
  .verified-content {
    height: 28px;
    padding: 0;
    border: 0;
    box-shadow: inset 0 0 0 0 transparent;
    color: $color-viridian-green;
    -webkit-text-fill-color: $color-viridian-green;
    opacity: 1;
    font-size: 20px;
    transition: padding $transition-time, border $transition-time,
      color $transition-time, box-shadow $transition-time;

    &--edit {
      margin-top: 4px;
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      text-decoration: underline;
      color: $color-viridian-green;
    }
}
}
